<!-- templates/ephemeris.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/lilith.png">
    <link rel="stylesheet" href="static/css/eph.css" type="text/css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Ephemeris</title>
</head>

<body>
    <script src="{{ url_for('static', filename='js/toggle_location.js') }}"></script>
    {% include 'header.html' %}

    <div class="parent">
        <!-- User Input -->
        <div class="wrapper">
            <form action="" method="POST">
                {{form.hidden_tag()}}

                    <h1>Ephemeris</h1>

                    <!-- Date -->
                    <div class="input-box">
                        <input type="date" name="date" required>
                    </div>

                    <!-- Time -->
                    <div class="input-box">
                        <input type="time" name="time" required>
                    </div>

                    <!-- Location -->
                    <div class="input-box">
                        <input type="text" id="location-input" name="location" placeholder="Location" required>
                    </div>

                    <div class="coords">
                        <!-- Enable Coords -->
                        <div class="input-box">
                            <input type="checkbox" id="coords-checkbox" name="coords" value="coords" onchange="toggleLocation()">
                        </div>

                        <!-- Longitude -->
                        <div class="input-box">
                            <input type="text" id="longitude-input" name="longitude" placeholder="Longitude" disabled>
                        </div>

                        <!-- Latitude -->
                        <div class="input-box">
                            <input type="text" id="latitude-input" name="latitude" placeholder="Latitude" disabled>
                        </div>
                    </div>

                    <!-- Submit -->
                    <div class="submit">
                        <button type="submit" class="btn">Submit</button>
                    </div>

                    <!-- Success / Error -->
                    <div class="success">
                        {% if atlas_data['celestial']['Sun'] %}
                            <label>Success! Scroll down to view results</label>
                        {% endif %}
                    </div>
                    <div class="error">
                        {% if form.errors %}
                            <label>Invalid input. Please try again</label>
                        {% endif %}
                    </div>
            </form>
        </div>

        {% if atlas_data['celestial']['Sun'] %}
        <div class="container">
            <div class="eph-row">
                <div class="chart-container">
                    <img src="{{ url_for('static', filename='charts/' + user_id|string + '.png') }}" alt="chart">
                </div>

                <div class="table-container">
                    <h3>Houses</h3>
                    <table class="placidus">
                        {% for house, data in atlas_data['placidus'].items() %}
                            <tr>
                                <td>{{ data['symbol'] }} {{ data['name'] }}</td>
                                <td>{{ data['longitude']|round(1) }}°</td>
                                <td>{{ data['zodiac_symbol'] }} {{ data['zodiac'] }}</td>
                                <td>{{ data['zodiac_orb']|round(1) }}°</td>
                            </tr>
                        {% endfor %}
                    </table>

                    <h3>Celestial Bodies</h3>
                    <table class="main">
                        {% for body, data in atlas_data['celestial'].items() %}
                            <tr>
                                <td>{{ data['symbol'] }} {{ data['name'] }}</td>
                                <td>{{ data['longitude']|round(2) }}°</td>
                                <td>{{ data['zodiac_symbol'] }} {{ data['zodiac'] }}</td>
                                <td>{{ data['zodiac_orb'] }}°</td>
                                <td>{{ data['retrograde'] }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    
                    <h3>Lunar Aspects</h3>
                    <table class="lunar">
                        {% for body, data in atlas_data['lunar'].items() %}
                            <tr>
                                <td>{{ data['symbol'] }} {{ data['name'] }}</td>
                                <td>{{ data['longitude']|round(2) }}°</td>
                                <td>{{ data['zodiac_symbol'] }} {{ data['zodiac'] }}</td>
                                <td>{{ data['zodiac_orb'] }}°</td>
                            </tr>
                        {% endfor %}
                    </table>
                    
                    <h3>Phases</h3>
                    <table class="phases">
                        {% for body, data in atlas_data['celestial'].items() %}
                            {% if data['phase'] %}
                                <tr>
                                    <td>{{ data['symbol'] }} {{ data['name'] }}</td>
                                    <td>{{ data['phase_longitude'] }}°</td>
                                    <td>{{ data['phase'] }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</body>