<!DOCTYPE html>
<html lang="en"></html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/lilith.png">
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Home</title>
</head>

<body>
    {% include 'header.html' %}

    <div class="title-wrapper">
        <div class="title">
            <h1>Atlas</h1>
        </div>
        <div class="subtitle">
            <h2>Wizard</h2>
        </div>
        <span class="divider"></span>            
    </div>

    <div class="container">
        <div class="eph-row">
            <div class="eph-image">
                <img src="/static/images/galaxy.png" alt="galaxy">
            </div>
            <div class="eph-info">
                <h3>Current Planets</h3>
                <table>
                    
                </table>
            </div>
        </div>
    </div>

</body>