<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/lilith.png">
    <link rel="stylesheet" href="static/css/profile.css" type="text/css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Profile</title>
</head>

<body>
    <header class="header">
        <a href="/" class="logo">⚸</a>

        <!-- Navigation Bar -->
        <nav class="navbar">
            <a href="/"><i class='bx bxs-home-alt-2'></i> Home</a>
            <a href="/eph"><i class='bx bxs-planet' ></i> Ephemeris</a>
            {% if current_user.is_authenticated %}
                <a href="/profile"><i class='bx bxs-user'></i></i> Profile</a>
                <a href="/logout"><i class='bx bxs-log-out-circle' ></i> Logout</a>
            {% else %}
                <a href="/login"><i class='bx bxs-log-in-circle' ></i> Login</a>
            {% endif %}
        </nav>
    </header>

    <!-- Content Container -->
    <div class="container">
        <div class="profile">
            <div class="showcase">
                <div class="image">
                    <img src="/static/images/profile.png" alt="Lilith">
                </div>
                <div class="username">
                    <label>{{ current_user.username }}</label>
                </div>
            </div>
        </div>

    </div>
</body>