@import url('main.css');

.parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.wrapper { /* Ephemeris Input */
    width: 420px;
    background: transparent;;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    margin-top: 250px;
    margin-bottom: 250px;
}

.wrapper h1 {
    font-size: 36px;
    font-weight: 600;
    font-variant: small-caps;
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

.input-box {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.input-box input {
    width: 100%;
    padding: 10px 20px;
    background: transparent;
    border: 2px solid rgba(156, 156, 156, 0.2);
    outline: none;
    color: #ffffff;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
}

.input-box input::placeholder {
    color: #ffffff;
}

.input-box input[type="date"] {
    color: #ffffff;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.input-box input[type="time"] {
    color: #ffffff;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 50%;
    border: none;
    outline: none;
    margin: 20px auto;
    background: #ffffff;
    color: #000000;
    font-size: 18px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-weight: 600;
}

.success {
    color: #ffffff;
    justify-content: center;
}

.error {
    color: red;
    justify-content: center;
}

/* Ephemeris Ouput */
.container {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    text-align: center;
    height: auto;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: #000000;
    color:#ffffff;
}

.container h2 {
    font-size: 28px;
    font-variant: small-caps;
    font-weight: 600;
    text-decoration: underline;
    text-align: center;
    color: #ffffff;
    margin-bottom: 100px;
    padding: 20px 0;
}

.container h3 {
    font-size: 24px;
    font-variant: small-caps;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    padding: 20px 0;
}

.chart {
    display: absolute;
    background-color: #000000;
}

.chart-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.chart-container img {
    flex-basis: 50%;
    margin-top: 3em;
    height: auto;
    width: 65em;
    padding: 20px;
}

.table-container {
    flex-basis: 50%;
    margin: auto;
    font-size: small;
    background: #505050;
    backdrop-filter: blur(20px);
}

.table-container table {
    padding: 20px 0;
    margin: auto;
    color: #ffffff;
}

table th, table td {
    padding: 8px;
}
