* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 30px;
    background: transparent;
    z-index: 1000;
}

.navbar a {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    margin-left: 30px;
}

.logo {
    font-size: 40px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(/static/images/background.jpg);
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

.wrapper {
    width: 420px;
    background: transparent;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
}

/* Heading */
.wrapper h1 {
    font-size: 36px;
    font-weight: 600;
    font-variant: small-caps;
    text-align: center;
    color: #ffffff;
}


/* Input Box */
.wrapper .input-box { /* Wrapper */
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input { /* Input */
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(29, 28, 28, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #acacac;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder { /* Hint */
    color: #9c9c9c;
}

.input-box i { /* Icon */
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

/* Remember/Forgot */
.wrapper .remember-forgot { /* Wrapper */
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    align-items: center;
    margin: -15px 0 15px;
}

.remember-forgot label input { /* Checkbox */
    accent-color: #ffffff;
    margin-right: 3px;
}

.remember-forgot a { /* Link */
    color: #ffffff;
    text-decoration: none;
}

.remember-forgot a:hover { /* Link Hover */
    text-decoration: underline;
}

/* Button */
.btn { 
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    margin: 10px 0;
    background: #ffffff;
    color: #000000;
    font-size: 18px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-weight: 600;
}

/* Register Link */
.wrapper .register-link {
    text-align: center;
    font-size: 15px;
    margin: 25px 0 15px;
}

.register-link p a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}
